@model OnlineLibrary.Helpers.PaginatedList<OnlineLibrary.Data.DTOs.UserRoleDTO>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Save">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("Role")
                        </th>
                        <th>
                            @Html.DisplayName("Give admin right")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model[i].Email" class="form-control" value="@Model[i].Email" />
                                @Html.DisplayFor(m => Model[i].Email)
                            </td>
                            <td>
                                <input type="hidden" asp-for="@Model[i].Role" class="form-control" value="@Model[i].Role" />
                                @Html.DisplayFor(m => Model[i].Role)
                            </td>
                            <td>
                                @Html.CheckBoxFor(m => Model[i].ToGiveAdminRights)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-page="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-page="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
